Connect_Query_SQL_Lib/Jason.Libraries.DAL/obj/
Connect_Query_SQL_Lib/Jason.Libraries.IDAL/obj/
Connect_Query_SQL_Lib/Jason.Libraries.Model/obj/
Connect_Query_SQL_Lib/Jason.FrameWork/obj/
Connect_Query_SQL_Lib/Connect_Query_SQL_Lib/obj/
Connect_Query_SQL_Lib/.vs/
Connect_Query_SQL_Lib/Connect_Query_SQL_Lib/bin/
